/*logo*/
.LOGO {
    margin: 10px 0px 20px 60px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 450px;
}


/*Botão*/
.acompanhamento, .botaoMaisItens {
    background-color: rgba(71, 4, 97);
    height: 50px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 1px 2px 20px;
    border: rgba(71, 4, 97);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(254, 255, 253);
    transition: .5s;
    font-weight: bolder;
}

.acompanhamento:hover {
    color: rgb(128, 205, 42);
}

.img-button {
    width: 80px;
    height: 80px;
    margin: 0px 0px -110px -55px;
}



a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.ajustarButon{
  margin: 0px 0px 0px 10px;
}

.botano {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 40px 0px 150px 70px;
}

.botaoMaisItens {
    background: none;
}

/*mexe na cor do botao maisItens*/
.aMaisitens {
    color: rgba(71, 4, 97);
}

h1 {
    margin: 40px 0px 50px 30px;
    color: rgba(71, 4, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*mexe no texto dentro das div*/
p {
    margin: 0px 0px 0px 20px;

}

/*mexe no conteúdo dentro da div mercadoria*/
.mercadoria {
    position: relative;
    /* Adicionado para que .excluirItem seja posicionado em relação a este elemento */
    border: 1px solid rgba(71, 4, 97);
    width: 350px;
    background-color: #e9a1d123;
    margin: 10px 0 0 3%;
    padding-bottom: 20px;
    
}

/*mexe no texto dentro da div conteudo*/
.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/*mexe no texto valor*/
.valor {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    width: 270px;
    height: 35px;
    margin: 40px 0px 0px 50px;
    background-color: rgba(71, 4, 97);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mexe no botão excluir*/
.excluirItem {
    display: flex;
    position: absolute;
    background: none;
    color: #ff0000;
    border: none;
    top: 35px;
    /* Ajuste a distância do topo conforme necessário */
    right: 10px;
    /* Ajuste a distância da direita conforme necessário */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
}



/*ESTILO BOTÃO EFEITO VISUAL*/

/*muito importante*/
.animated-button1 {
    background: none;
    padding: 10px;
    width: 210px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: rgba(71, 4, 97);
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: none;
  }
  
  /*importante faz animação existir*/
  .animated-button1 span {
    position: absolute;
  }
  /*importante*/
  .animated-button1 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to left, rgba(3, 23, 235, 0), rgb(128, 205, 42));
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  /*importante muda a cor de uma das setas*/
  .animated-button1 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), rgb(128, 205, 42));
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  /*importante muda a cor de uma das setas*/
  .animated-button1 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), rgba(71, 4, 97));
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  /*importante muda a cor de uma das setas*/
  .animated-button1 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), rgba(71, 4, 97));
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  